https://pandas.pydata.org/pandas-docs/version/0.25/reference/api/pandas.DataFrame.iloc.html

In [1]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(mydict)

### one axis

In [4]:
df.iloc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [5]:
type(df.iloc[0])

pandas.core.series.Series

In [7]:
df.iloc[[0, 2]]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [8]:
df.iloc[:3]

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [10]:
df.iloc[[True, False, True]] # with boolean mask

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [12]:
df.iloc[lambda x: x.index % 2 == 0] # with filtering lambda

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

## both axes

In [13]:
df.iloc[0, 1]

2

In [14]:
df.iloc[[0, 2], [1, 3]]

      b     d
0     2     4
2  2000  4000

In [15]:
df.iloc[:, [True, False, True, False]]

      a     c
0     1     3
1   100   300
2  1000  3000

In [16]:
df.iloc[:, lambda df: [0, 2]]

      a     c
0     1     3
1   100   300
2  1000  3000