https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.as_matrix.html  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.values.html#pandas.DataFrame.values  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_numpy.html#pandas.DataFrame.to_numpy

In [9]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(mydict)

## as_matrix

In [4]:
df.as_matrix()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

array([[   1,    2,    3,    4],
       [ 100,  200,  300,  400],
       [1000, 2000, 3000, 4000]])

In [5]:
type(df.as_matrix())

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

numpy.ndarray

## values

In [13]:
df.values

array([[   1,    2,    3,    4],
       [ 100,  200,  300,  400],
       [1000, 2000, 3000, 4000]])

In [15]:
import numpy as np

In [18]:
df2 = pd.DataFrame([('parrot',   24.0, 'second'),
                     ('lion',     80.5, 1),
                     ('monkey', np.nan, None)],
                   columns=('name', 'max_speed', 'rank'))

In [20]:
df2.dtypes

name          object
max_speed    float64
rank          object
dtype: object

In [21]:
df2.values

array([['parrot', 24.0, 'second'],
       ['lion', 80.5, 1],
       ['monkey', nan, None]], dtype=object)

## to_numpy

DataFrame.to_numpy(self, dtype=None, copy=False)

dtype : str or numpy.dtype, optional
The dtype to pass to numpy.asarray()

copy : bool, default False
Whether to ensure that the returned value is a not a view on another array. Note that copy=False does not ensure that to_numpy() is no-copy. Rather, copy=True ensure that a copy is made, even if not strictly necessary.

In [22]:
df2.to_numpy()

array([['parrot', 24.0, 'second'],
       ['lion', 80.5, 1],
       ['monkey', nan, None]], dtype=object)

In [23]:
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [24]:
df.to_numpy()

array([[   1,    2,    3,    4],
       [ 100,  200,  300,  400],
       [1000, 2000, 3000, 4000]])

In [25]:
df.to_numpy(dtype='float64')

array([[1.e+00, 2.e+00, 3.e+00, 4.e+00],
       [1.e+02, 2.e+02, 3.e+02, 4.e+02],
       [1.e+03, 2.e+03, 3.e+03, 4.e+03]])

In [26]:
df.to_numpy(dtype=np.float16)

array([[1.e+00, 2.e+00, 3.e+00, 4.e+00],
       [1.e+02, 2.e+02, 3.e+02, 4.e+02],
       [1.e+03, 2.e+03, 3.e+03, 4.e+03]], dtype=float16)